@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: #1b1b1b;
    font-family: 'Poppins', sans-serif;
}
.cart{
    position: relative;
    width: 300px;
    height: auto;
    cursor: pointer;
    overflow: hidden;
}
.cart-number{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 50px 30px 10px;
}
.cart img{
    width: 100px;
    height: 100px;
}
.cart-button{
    margin-top: 20px;
    padding: 15px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 20px;
    color: #9EDE73;
    transition: all 0.3s;
    width: 180px;
    z-index: 100;
}
button{
    border: none;
    background-color: #f27b1d;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttons{
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.minus,
.add{
    font-size: 20px;
    color: #fff;
    padding: 15px 20px;
    background-color: #fff;
    transition: all 0.3s ease-out;
    background-color: #f27b1d;
}
.minus{
    transform: translateX(60px);
}
.add{
    transform: translateX(-64px);
}
.minus-slide{
    transform: translateX(0px);
}
.add-slide{
    transform: translateX(0px);
}
button:hover{
    background-color: #ff6f00;
}
.number{
    position: absolute;
    top: 8%;
    right: 17%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease-out;
}
.popup{
    position: absolute;
    top: 8%;
    right: 17%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    background-color: #fc565a !important;
    color: #fff;
    transform: scale(0);
    transition: all 0.3s ease-out;
}
.background-color{
    position: absolute;
    top: 8%;
    right: 17%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    background-color: #fc565a !important;
    color: #fff;
    transform: scale(1);
}

.popup-open{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: pop-up 0.3s ease-out 0.2s;
    transition-delay: 0.3s;
    transform: scale(1);
    
}
.popup-two{
    animation: pop-up-2 0.3s ease-out !important;
    transition-delay: 0.3s; 
    transform: scale(1);
}
@keyframes pop-up{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(0.8);
    }

    100%{
        transform: scale(1);
    }
}
@keyframes pop-up-2{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
/* .cart{
    width: 200px;
    height: 200px;
    background-color: orangered;
    border-radius: 50%;
    cursor: pointer;
}
.cart:hover{
    animation: pop-up 0.3s ease-out 0.2s;
}
.cart-button{
    margin-top: 20px;
    padding: 20px 30px;
    border: none;
    background-color: orchid;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.open{
    animation: pop-up 0.3s ease-out 0.3s;
} */
