body {

}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.box {
  position: realtive;
  width: 40px;
  height: 40px;
  animation:effect 2s ease infinite;
}
@keyframes effect {
  0%{
    width: 40px;
    height: 40px;
  }
  90%{
    width: 70px;
    height: 70px;
  }
  100%{
    transform: rotate(360deg);
  }
}
span {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #121212;
}
span:nth-child(2) {
  right: 0;
}
span:nth-child(3) {
  right: 0;
  bottom: 0;
}
span:nth-child(4){
  left: 0;
  bottom: 0;
}